@import "./variables.scss";

.wrapper-login {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f1f1;
  text-align: center;
  &__logo {
    width: 250px;
  }
  .button-confirm {
    width: 100%;
  }
  form {
    text-align: start;
  }
}
