.button-confirm {
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(67, 67, 255);
}

.button-create {
  height: 40px;
  background-color: rgb(26, 201, 26) !important;
  &:hover {
    background-color: rgb(83, 239, 83) !important;
  }
  font-weight: 600;
}
